<%= form_with model: beverage do |f| %>
    <% if beverage.errors.any?%>
        <p>Confira os erros abaixo:</p>
        <ul>
            <%beverage.errors.full_messages.each do |msg|%>
                <li>
                    <p><%= msg%></p>
                </li>
            <% end %>
        </ul>
        
    <% end %>
    <div class="field">
        <p><%= f.label :photo%></p>
        <%= f.file_field :photo%>
    </div>

    <div class="field">
        <p><%= f.label :name%></p>
        <%= f.text_field :name%>
    </div>
    <div class="field">
        <p><%= f.label :description%></p>
        <%= f.text_field :description%>
    </div>
    <div class="field">
        <p><%= f.label :calories%> <span>(opcional)</span></p>
        <%= f.text_field :calories%>
    </div>
    <div class="field">
        <p><%= f.label :is_alcoholic%></p>
        <%= f.check_box :is_alcoholic%>
    </div>
    <%= f.submit btn_message, class: 'rounded-xl text-white font-medium bg-orange-500 px-4 py-2 cursor-pointer'%>
<% end %>