<%= render 'item_display', item: Dish.new do%>
    <% @dishes.each do |dish|%>
    <div class="mb-10">
        <div class="flex gap-5 p-5 items-center">
            <%= link_to dish_path(dish.id) do%>
                <div class="flex gap-5 items-center">
                    <% if dish.photo.present? %>
                        <%= image_tag dish.photo,width: 60, height: 60,  class: ''%>
                    <% end %>
                    <div>
                        <h3 class="font-medium"><%= dish.name %></h3>
                        <p class="text-sm"><%= dish.description %></p>
                    </div>

                    <p><%= dish.is_active ? "Ativo" : "Desativado"%></p>
                </div>
            <% end %>
        
            <%= link_to 'Editar', edit_dish_path(dish.id)%>
            <%= link_to 'Remover', dish_path(dish.id), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir #{dish.name}?"}%>

        </div>
        <% dish.portions.each do |portion|%>
            <div class="mx-20 flex w-1/2 justify-between py-2">
                <p><%= portion.description %></p>
                <p><%= portion.show_price%></p>
            </div>
        <% end %>
        <%= link_to 'Adicionar Porção', new_iten_portion_path(iten_id: dish.id), class: 'w-1/2 mx-20 text-center'%>
        </div>
    <% end %>
    <%= link_to 'Adicionar Prato', new_dish_path, class: 'rounded-xl text-white font-medium bg-amber-500 px-4 py-2'%>
<% end%>

<%= render 'item_display', item: Beverage.new do%>
    <% @beverages.each do |beverage|%>
    <div class="mb-10">
        <div class="flex gap-5 p-5 items-center">
            <%= link_to beverage_path(beverage.id) do%>
                <div class="flex gap-5 items-center">
                    <% if beverage.photo.present? %>
                        <%= image_tag beverage.photo,width: 60, height: 60%>
                    <% end %>
                
                    <div>
                        <h3 class="font-medium"><%= beverage.name %></h3>
                        <p class="text-sm"><%= beverage.description %></p>
                    </div>

                    <p><%= beverage.is_active ? "Ativo" : "Desativado"%></p>
                </div>
            <% end %>

            <%= link_to 'Editar', edit_beverage_path(beverage.id)%>
            <%= link_to 'Remover', beverage_path(beverage.id), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir #{beverage.name}?"}%>
        </div>
        <% beverage.portions.each do |portion|%>
            <div class="mx-20 flex w-1/2 justify-between py-2">
                <p><%= portion.description %></p>
                <p><%= portion.show_price%></p>
            </div>
        <% end %>
        <%= link_to 'Adicionar Porção', new_iten_portion_path(iten_id: beverage.id), class: 'w-1/2 mx-20 text-center'%>
    </div>
    <% end %>
    <%= link_to 'Adicionar Bebida', new_beverage_path, class: 'rounded-xl text-white font-medium bg-amber-500 px-4 py-2'%>
<% end %>
