
<div data-controller = "menu">
    <div class="mr-96">
        <% if current_admin%>
            <section class='mb-10 p-10 border-2 border-amber-400 rounded-xl'>
                <h1 class="text-xl mb-5">Adicionar <%= @menu.model_name.human%></h1>
                <%= form_with model: @menu do |f|%>
                    <div class="flex gap-2 mb-5">
                        <%= render layout: 'menus/input', locals: {local_model: @menu, field: :name} do%>
                            <%= f.text_field :name, placeholder: "Nome do #{@menu.model_name.human}", id: 'menu_name_field', class: 'input-secondary w-full'%>
                        <% end %>
                        
                        <%= f.submit "+", class: 'text-white text-2xl font-medium bg-amber-500 px-4 rounded cursor-pointer mb-8'%>
                    </div>
                    <p class="mb-5">Data de início e encerramento (opcional)</p>
                    <div class="flex items-center gap-5">
                        <%= render layout: 'menus/input', locals: {local_model: @menu, field: :start_date} do %>                    
                            <%= f.date_field :start_date, class: 'input-secondary w-full' %>
                        <% end %>
                        <p class="mb-6">-</p>
                        <%= render layout: 'menus/input', locals: {local_model: @menu, field: :end_date} do%> 
                            <%= f.date_field :end_date, class: 'input-secondary w-full'%>
                        <% end %>
                    </div>
                    
                <% end %>
            </section>
        <% end %>

        <section>
            <% @menus.each do |menu|%> 
                <div class="menu_container p-10 mb-20 border-2 border-default-200 rounded-md">
                    <section class="flex justify-between items-center">
                        <div class="flex items-center gap-5">
                            <h2 class="text-2xl"><%= menu.name%></h2>
                            <% if current_admin%>
                                <%= link_to "Editar", edit_menu_path(menu.id)%>
                            <% end %>
                            <% if menu.start_date.present? && menu.end_date.present?%>
                                <%= I18n.localize(menu.start_date)%> - <%= I18n.localize(menu.end_date)%>
                            <% end %>
                            <% if menu.unavailable?%>
                                <p>Indisponível para pedidos</p>
                            <% end%>
                        </div>
                        
                        <% if menu.items.valid.present?%>
                            <button class="menu_dropdown" data-menu-target="toggleButton"><%= image_tag 'arrow_down.svg', width: 20, height: 20%></button>
                        <% end %>
                    </section>
                    
                    <div class="min-h-[2px] bg-gray-200 my-5"></div>

                    <section class="menu_items" data-menu-target="menuItem">
                        <%= render partial: 'menus/item', collection: menu.items.valid, as: :item, locals: { menu: menu }%>
                    </section>
                </div>
            <% end %>
        </section>
    </div>


    <section class="fixed flex flex-col w-96 h-screen border-2 border-gray-200 right-0 top-0 p-10" >
        <h1 class="text-2xl mb-5"><%= @order.model_name.human %></h1>
        <%= form_with model: @order do |f| %>
            <div data-menu-target="orderInputs" class="flex flex-col gap-5 mb-10"></div>
            <h2 class="text-xl">Dados do cliente</h2>
            <div class='field'>
                <%= f.text_field :client_name, placeholder: 'Nome do cliente', class: 'input-secondary'%>
            </div >
            <div class='field'>
                <%= f.text_field :cpf, placeholder: 'CPF', class: 'input-secondary'%>
            </div >
            <div class='field'>
                <%= f.text_field :email, placeholder: 'E-mail', class: 'input-secondary'%>
            </div >
            <div class='field'>
                <%= f.text_field :phone_number, placeholder: 'Numero de telefone', class: 'input-secondary'%>
            </div >
            <div class="mb-10" data-menu-target="orderTotal"></div>
            <%= f.submit 'Salvar', class: 'font-medium rounded-xl border-2 border-amber-500 w-full px-4 py-2 cursor-pointer hover:bg-amber-500 hover:text-white'%>
        <% end %>
        
    </section>
</div>