<h2>Cadastrar funcionário</h2>
<%= form_with model: @employee_pre_registration do |f|%>
    <div class="field">
        <%= f.text_field :email, placeholder: 'E-mail'%>
    </div>
    <div class="field">
        <%= f.text_field :cpf, placeholder: 'CPF'%>
    </div>
    <%= f.submit 'Cadastrar'%>
<% end %>

<h1>funcionário</h1>
<div class="flex gap-5">
    <% @employee_pre_registrations.each do |emp_pre_r|%>
        <p><%= emp_pre_r.cpf%></p>
        <p><%= emp_pre_r.email%></p>
        <p><%= emp_pre_r.is_used ? 'Usado' : 'Não usado'%></p>
    <% end %>
</div>
