<div class="mb-10" data-controller="caracteristic">
    <div>
        
        <h2 class="text-2xl mb-5">Itens <span class="text-lg"><%= link_to "Adicionar Item", new_item_path, class: ''%></span></h2> 
 
        <div class="mb-10">
            <% @caracteristics.each do |caracteristic|%>
                <label for="<%= caracteristic.name%>" id="<%= caracteristic.name%>label" class="bg-amber-500 py-2 px-4 rounded text-white font-medium"><%= caracteristic.name%></label>
                <input type="checkbox" name="caracteristic" id="<%= caracteristic.name%>" data-action="change->caracteristic#updateItems" value="<%= caracteristic.name%>" class="hidden">
            <% end %>
        </div>
        
       
    </div>
    <% @items.each do |item|%>
        <div class="item mb-10" data-caracteristics="<%= item.caracteristics.map(&:name).to_json%>">
            <div class="flex gap-5 p-5 items-center">
                <%= link_to item_path(item.id) do%>
                    <%= render 'item_details', item: item%>
                <% end %>
            
                <%= link_to 'Editar', edit_item_path(item.id)%>
                <%= link_to 'Remover', item_path(item.id), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja remover #{item.name}?"}%>

            </div>
            <%= render item.portions%>
            <%= link_to 'Adicionar Porção', new_item_portion_path(item_id: item.id), class: 'w-1/2 mx-20 text-center'%>
        </div>
    <% end %>
</div>