<h1><%= @item.name %></h1>

<% @item.caracteristics.each do |c|%>
    <p>#<%= c.name %></p>
<% end %>

<% if @item.type == 'Beverage'%>
    <%if @item.is_alcoholic%>
        <span>Bebida Alcólica</span>
    <% else %>
        <span>Bebida não alcólica</span>
    <% end %>
<% end %>

<%= link_to 'Editar', edit_item_path(@item.id)%>
<%= link_to 'Remover', item_path(@item.id), method: :delete%>
<p>Status: <%= @item.is_active ? "Ativo" : "Desativado" %></p> 
<%= button_to @item.is_active ? "Desativar" : "Ativar", change_status_item_path(@item.id), method: :patch%>
<% if @item.photo.present?%>
    <%= image_tag @item.photo%>
<%end%>
<p><%= @item.description %></p>
<%if @item.calories.present?%>
    <p>calorias <%= @item.calories %></p>
<% end %>

<section id="portion">
    <% @item.portions.each do |portion|%>
        <div class="flex w-1/2 justify-between py-2">
            <p><%= portion.description %></p>
            <p><%= portion.show_price%></p>
            <%= link_to 'Editar', edit_portion_path(portion.id)%>
        </div>
        <div>
            <p>Histórico de preços</p>
            <% portion.portion_prices.order(created_at: :desc).each do |price|%>
                <div class="flex gap-5">
                    <p><%= price.show_price %></p>
                    <p><%= price.created_at.strftime("%d/%m/%y") %></p>
                </div>
            <% end %>
        </div>
    <% end %>
</section>