<%= form_with url: iten_portions_path(dish_id: dish), method: :post do |f|%>
    <div>
        <p><%= f.label :description, 'Descrição'%></p>
        <%= f.text_field :description %>
    </div>
    <div>
        <p><%= f.label :price, 'Preço ex (1250 = 12,50)'%></p>
        <%= f.number_field :price%>
    </div>

    <%= f.submit btn_message%>
<% end %>