<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex">
    <aside class="flex flex-col justify-between w-64 bg-gradient-to-tr from-gray-200 to-neutral-200 h-screen p-4">
      <section>
        <%= link_to dashboard_path do%>
          <h1 class="text-3xl font-medium mb-2">Pa<span class="text-amber-500">Levá</span></h1>
        <% end %>
        <div class="mb-2">
            <h1 class="text-lg"><%= current_admin.restaurant.brand_name %></h1>
          </div>
        <nav class="flex flex-col gap-3">

          <%= form_with url: search_item_path, method: :get do |f|%>
            <%= f.label :query, 'Pesquisar por item'%>
            <%= f.text_field :query, plachholder: 'prato, bebida', class: 'rounded'%>
            <%= f.submit 'Pesquisar'%>
          <% end %>

          <%= link_to 'Cardápio', dashboard_path, class: ''%>
        </nav>
      </section>
      
       <div class="flex bg-neutral-300 rounded-xl justify-between px-4 py-3">
          <p><%=current_admin.name%></p>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete%>
        </div>
    </aside>
     
    <main class="container mx-auto mt-10 px-6">
      <div>
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
