<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex">
    <aside class="fixed flex flex-col justify-between w-72 bg-gradient-to-tr from-gray-200 to-neutral-200 h-screen">
      <section>
        <div class="p-4">
          <%= link_to menus_path do%>
            <h1 class="text-3xl font-medium mb-2">Pa<span class="text-amber-500">Lev치</span></h1>
          <% end %>
      
          <% if current_admin%>
            <%= form_with url: search_item_path, method: :get do |f|%>
              <div class="flex gap-1">
                <%= f.text_field :query, placeholder: 'Pesquisar por item', class: 'rounded'%>
                <button type="submit" id="search_item" class="btn-submit flex items-center justify-center min-w-10">
                  <div>
                      <%= image_tag 'search.svg', class: 'w-5 h-5'%>
                    </div>
                </button>   
              </div>
            <% end %>
          <% end %>
        </div>

        <nav class="flex flex-col gap-1">
          <%= render 'layouts/menu_button', menu_text: current_user.restaurant.brand_name, path: restaurant_path(current_user.restaurant.id), menu_con_name: 'restaurants', menu_con_action: 'show'%>
          <%= render 'layouts/menu_button', menu_text: 'Card치pio', path: menus_path, menu_con_name: 'menus', menu_con_action: 'index'%>
          <% if current_admin%>
            <%= render 'layouts/menu_button', menu_text: 'Itens', path: items_path, menu_con_name: 'items', menu_con_action: 'index'%>
            <%= render 'layouts/menu_button', menu_text: 'Funcion치rios', path: employee_pre_registrations_path, menu_con_name: 'employee_pre_registrations', menu_con_action: 'index'%>
            <%= render 'layouts/menu_button', menu_text: 'Hor치rios', path: business_hours_path, menu_con_name: 'business_hours', menu_con_action: 'index'%>
          <% end %>
        </nav>
      </section>
      
       <div class="flex bg-neutral-300 rounded-xl justify-between px-4 py-3 mx-4 mb-4">
          <p><%=current_user.name%></p>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete%>
        </div>
    </aside>
     
    <main class="container ml-72 mx-auto mt-10 px-6">
      <div data-controller="flash">
        <p class="notice"><%= notice %></p>
      
        <div class="flex justify-between hidden py-2 px-4 bg-red-200 mr-96 rounded mb-10" data-flash-target="flashDiv">
          <p class="alert text-red-800 font-bold"  data-flash-target="flashText" data-action="change->flash#updateFlash"><%= alert %></p>
          <button data-action="click->flash#closeFlash">fechar</button>
        </div>
       
      </div>
      <%= yield %>
    </main>
  </body>
</html>
