<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex">
    <aside class="fixed flex flex-col justify-between w-72 bg-gradient-to-tr from-gray-200 to-neutral-200 h-screen">
      <section>
        <div class="p-4">
          <%= link_to dashboard_path do%>
            <h1 class="text-3xl font-medium mb-2">Pa<span class="text-amber-500">Levá</span></h1>
          <% end %>
      
          <% if current_admin%>
            <%= form_with url: search_item_path, method: :get do |f|%>
              <div class="flex gap-1">
                <%= f.text_field :query, placeholder: 'Pesquisar por item', class: 'rounded'%>
                <button type="submit" id="search_item" class="btn-submit flex items-center justify-center min-w-10">
                  <div>
                      <%= image_tag 'search.svg', class: 'w-5 h-5'%>
                    </div>
                </button>   
              </div>
            <% end %>
          <% end %>
        </div>

        <nav class="flex flex-col gap-1">
          <%= link_to current_user.restaurant.brand_name, restaurant_path(current_user.restaurant.id), class: "menu-nav #{"active" if controller_name == "restaurants" && action_name == "show"}" %>
          <%= link_to 'Cardápio', menus_path, class: "menu-nav #{"active" if controller_name == "menus" && action_name == "index"}"%>
          <% if current_admin%>
            <%= link_to 'Itens', dashboard_path, class: "menu-nav #{"active" if controller_name == "dashboard" && action_name == "index"}"%>
            <%= link_to 'Funcionários', employee_pre_registrations_path, class: "menu-nav #{"active" if controller_name == "employee_pre_registrations" && action_name == "index"}"%>
          <% end %>
        </nav>
      </section>
      
       <div class="flex bg-neutral-300 rounded-xl justify-between px-4 py-3 mx-4 mb-4">
          <p><%=current_user.name%></p>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete%>
        </div>
    </aside>
     
    <main class="container ml-72 mx-auto mt-10 px-6">
      <div>
        <p class="notice"><%= notice %></p>
        <% if alert.present?%>
          <p class="alert"><%= alert %> <%= link_to 'fechar', request.path%></p>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
