<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex flex-col">
    <header class="text-3xl w-full px-10 py-4 bg-green-600 text-white">
      <h1>Pa<span class="text-amber-300">Levá</span></h1>
      <div class="flex gap-3">
           <%if controller_name == 'home' %>
            <%= link_to 'Entrar', new_admin_session_path%>
           <% end %>
        </div>
    </header>
    <div class="w-full flex text-center my-4 min-h-20 items-center justify-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main class="flex-grow flex flex-col items-center bg-white">
      <%= yield %>
    </main>
  </body>
</html>
